In [1]:
import pandas as pd

In [44]:
#importing data into data frame
df = pd.read_csv('wheather.csv')

In [3]:
df

        day  temperature  windspeed  event  Unnamed: 4
0  1/1/2017           32          6   Rain         NaN
1  1/2/2017           35          7  Sunny         NaN
2  1/3/2017           28          2   Snow         NaN
3  1/4/2017           24          7   Snow         NaN
4  1/5/2017           32          4   Rain         NaN
5  1/6/2017           31          2  Sunny         NaN

In [4]:
#we can also make our data frame with dictionary
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}

In [6]:
#making data frame with our dictionary
df = pd.DataFrame(weather_data)

In [7]:
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [10]:
#for the dimension of our dataframe
df.shape

(6, 4)

In [11]:
#as its returns a tuple
rows, columns = df.shape

In [12]:
rows

6

In [13]:
columns

4

# head() and tail()

In [15]:
#to print few rows of the data frame
df.head()

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain

In [16]:
#for specific rows
df.head(2)

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny

In [17]:
#to print last rows
df.tail()

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [18]:
#to print last row only
df.tail(1)

        day  temperature  windspeed  event
5  1/6/2017           31          2  Sunny

In [19]:
 #indexing to print specific rows
df[2:5]

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

# Indexing

In [21]:
#to print name of columns
df.columns

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [22]:
#to print content of a specific column
df.day

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [23]:
#also we can do this
df['day']

0    1/1/2017
1    1/2/2017
2    1/3/2017
3    1/4/2017
4    1/5/2017
5    1/6/2017
Name: day, dtype: object

In [25]:
#to print more than two columns
df[['day','event']]

        day  event
0  1/1/2017   Rain
1  1/2/2017  Sunny
2  1/3/2017   Snow
3  1/4/2017   Snow
4  1/5/2017   Rain
5  1/6/2017  Sunny

In [26]:
df['temperature'].max()

35

In [27]:
#to describe the data columns that contains integer values
#basically it gives us stats
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

# Selecting data on base of conditions

In [29]:
#getting data on base of conditions
#GIVE all rows where temperature is >= 32
df[df.temperature >= 32]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain

In [31]:
df[df.event== 'Snow']

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow

In [32]:
df[df.temperature== df.temperature.max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [37]:
#another syntax
df[df['temperature'] == df['temperature'].max()]

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [33]:
#only getting day with max temperature
df[['day', 'temperature']][df['temperature'] == df['temperature'].max()]

        day  temperature
1  1/2/2017           35

# Playing with Index

In [39]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [54]:
#to set another column as index
#as we perform anything on data frame it gives us new data frame without changing old one
                    #inplace will change the old one
df.set_index('day', inplace = True)

In [55]:
df

          index  temperature  windspeed  event  Unnamed: 4
day
1/1/2017      0           32          6   Rain         NaN
1/2/2017      1           35          7  Sunny         NaN
1/3/2017      2           28          2   Snow         NaN
1/4/2017      3           24          7   Snow         NaN
1/5/2017      4           32          4   Rain         NaN
1/6/2017      5           31          2  Sunny         NaN

In [56]:
#now we can use day as index
df.loc['1/3/2017']

index             2
temperature      28
windspeed         2
event          Snow
Unnamed: 4      NaN
Name: 1/3/2017, dtype: object

In [57]:
#to reset index
df.reset_index(inplace = True)

In [58]:
df

        day  index  temperature  windspeed  event  Unnamed: 4
0  1/1/2017      0           32          6   Rain         NaN
1  1/2/2017      1           35          7  Sunny         NaN
2  1/3/2017      2           28          2   Snow         NaN
3  1/4/2017      3           24          7   Snow         NaN
4  1/5/2017      4           32          4   Rain         NaN
5  1/6/2017      5           31          2  Sunny         NaN