In [1]:
import pandas as pd

In [2]:
#reading the csv file
df = pd.read_csv('nyc_wheather.csv')

In [3]:
#printing
df

,date,maximum temperature,minimum temperature,average temperature,precipitation,snow fall,snow depth
0,1-1-2016,42,34,38.0,0.00,0.0,0
1,2-1-2016,40,32,36.0,0.00,0.0,0
2,3-1-2016,45,35,40.0,0.00,0.0,0
3,4-1-2016,36,14,25.0,0.00,0.0,0
4,5-1-2016,29,11,20.0,0.00,0.0,0
...,...,...,...,...,...,...,...
361,27-12-2016,60,40,50.0,0,0,0
362,28-12-2016,40,34,37.0,0,0,0
363,29-12-2016,46,33,39.5,0.39,0,0
364,30-12-2016,40,33,36.5,0.01,T,0
365,31-12-2016,44,31,37.5,0,0,0

In [4]:
#for maximum temperature
df['maximum temperature'].max()

96

In [6]:
#to check the dates when there was a snow fall
df['date'][df['snow fall'] == 'T']

11      12-1-2016
13      14-1-2016
17      18-1-2016
23      24-1-2016
39       9-2-2016
40      10-2-2016
41      11-2-2016
53      23-2-2016
79      20-3-2016
93       3-4-2016
94       4-4-2016
99       9-4-2016
324    20-11-2016
349    15-12-2016
364    30-12-2016
Name: date, dtype: object

In [7]:
#to get average temperatures average on all days
df['average temperature'].mean()

57.21584699453552

In [11]:
#we have to clean the data that is known as data munging
#so we have to firstly fill the Na values
#means points having no value for certain columns

df.fillna(0, inplace = True)