In [1]:
import pandas as pd

# Directly Reading CSV

In [2]:
df = pd.read_csv('wheather.csv')
df

        day  temperature  windspeed  event  Unnamed: 4
0  1/1/2017           32          6   Rain         NaN
1  1/2/2017           35          7  Sunny         NaN
2  1/3/2017           28          2   Snow         NaN
3  1/4/2017           24          7   Snow         NaN
4  1/5/2017           32          4   Rain         NaN
5  1/6/2017           31          2  Sunny         NaN

# From Excel File

In [6]:
df = pd.read_excel('wheather.xlsx','Sheet1')
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow
3 2017-01-04           24          7   Snow
4 2017-01-05           32          4   Rain
5 2017-01-06           31          2  Sunny

# Using Python Dictionary

Keys --> Columns names


Values --> Columns Values

In [7]:
dictionary = {
    'day': ['1/1/2017','1/2/2017','1/3/2017','1/4/2017','1/5/2017','1/6/2017'],
    'temperature': [32,35,28,24,32,31],
    'windspeed': [6,7,2,7,4,2],
    'event': ['Rain', 'Sunny', 'Snow','Snow','Rain', 'Sunny']
}

In [10]:
df = pd.DataFrame(dictionary)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# Using List of Tuples

List will have tuples and a tuple will have data of a row

In [11]:
tup = [
    ('1/1/2017', 32, 6, 'Rain'),
    ('1/2/2017', 35, 7, 'Sunny')]

In [13]:
#you have to separately mention the column names
df = pd.DataFrame(tup, columns =['day','temp','wind','event'])
df

        day  temp  wind  event
0  1/1/2017    32     6   Rain
1  1/2/2017    35     7  Sunny

# Using List of Dictionary

List will have dictinaries and dictionaries will have column name as key and value as value:)

In [14]:
list_dict = [
    {'Day' : '1/1/2017', 'Temperature' : 32, 'Wind' : 6, 'Event' : 'Rain'}
]

In [15]:
df = pd.DataFrame(list_dict)

In [16]:
df

        Day  Temperature  Wind Event
0  1/1/2017           32     6  Rain